body {margin: 0; max-width: 1400px}
.header__fon {
    height: 100vh;
    background: url("image/headerfon.png") no-repeat center/cover;
    display: flex;
    flex-direction: column;

}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    padding: 20px 40px;
}

.menu-contact {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    padding: 20px 40px;
    margin-left: auto;
}


.header__top .menu {
    display: flex;
    margin-left: auto;
}
.header__top button.nav__menu {
    display: none;
    background: none;
    border: none;
}
.menu {
    display: flex;
    align-items: center;
    padding-right: 25px;
    column-gap: 22px;
    border-right: 2px solid #FFFFFF;
}
.menu_item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.contact span {font-size: 22px; color: #FFFFFF; margin-left: 20px}
.contact p {font-size: 16px; color: #FFFFFF; margin: 2px}

.header__top-button {
    border-radius: 4px;
    width: 157px;
    height: 47px;
    left: 1118px;
    top: 59px;
    background: #FF7400;
}
.header__top-button span {color: #ffffff}
.header__main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 556px;
    height: 179px;
    left: 10vh;
    top: 40vh;
}

.header__main h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin: 0;
}
.header__main h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
    margin: 0;
}
.header__main p {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header__main p::before,
.header__main p::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background: #FFFFFF;
}
.header__main p::before {margin-right: 10px}
.header__main p::after {margin-left: 10px}

.main__button {
    border-radius: 6px;
    width: 137px;
    height: 47px;
    padding: 10px;
    background: #FF7400;
}
.main__button span {color: #ffffff}
.header__intro {
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;
    row-gap: 60px;
    position: absolute;
    width: auto;
    height: 328px;
    left: 125px;
    top: 600px;
}

.intro__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 20px;
    width: 300px;
    height: auto;
    left: 926px;
    top: 693px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.intro__bloc h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.intro__bloc span {color: #FF7400}
.intro__bloc p {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}

/*------------History Bloc--------------*/

.history {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 500px;
}
.history__top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    column-gap: 50px;
    margin-bottom: 40px;
}
.history__top-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 444px;
    height: 422px;
}
.history__top-text h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    margin: 0;
}
.history__top-text h2 span {color: #FF7400}
.history__top-photo {
    width: 500px;
    height: 400px;
}

.history__top-items {
    display: flex;
    column-gap: 40px;
    margin-top: 20px;
}

.history__top-item h2 {
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
    margin: 0;
}
.history__top-item p {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.history__top-photo {
    display: flex;
    position: relative;
}
.history__top-photo img {
    display: flex;
    position: absolute;
}
.history__top-photo .img-one {width: 40%; right: 42px; top: -15px; z-index: 1}
.history__top-photo .img-two {width: 50%; right: 94px; top: -80px; z-index: 3}
.history__top-photo .img-left {width: 50%; right: 270px; top: 10px; z-index: 9}
.history__top-photo .img-right {width: 50%; left: 250px; bottom: 1px; z-index: 7}

.history__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35vh;
    padding: 40px 80px;
    background: url("image/bghistory.png") no-repeat center/cover;
}
.history__bottom-text {
    width: 601px;
    height: 173px
}
.history__bottom-text h2 {
    margin: 0;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}
.history__bottom-text p {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.history__bottom button {
    border-radius: 6px;
    width: 160px;
    height: 47px;
    padding: 5px;
    background: #FF7400;
}
.history__bottom button span {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

/*------------Our offers--------------*/

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1129px;
    height: 679px;
}

.offers h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    margin-bottom: 60px;
}
.offers h2 span {
    color: #FF7400;
}

.offers__content {
    display: flex;
    justify-content: space-between;
}
.offers .offer__list p {display: none}
.offers__list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offer__list {
    display: flex;
    align-items: center;
}
.offer__list span {
    margin-left: 20px;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

/*--------------Menu-----------------*/

.menu__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 64px 40px;
    margin-top: 90px;
    background: url("image/bar-menu.png") no-repeat center/cover;
}
.menu__center h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    background: #FF7400;
    padding: 5px 10px;
    border-radius: 5px;
}
.menu__center-cards {
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    width: 98%;
}
.menu-card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 270px;
    padding: 65px 40px 40px;
    position: relative;
}

.menu-card img.ellipse {
    position: absolute;
    bottom: 210px;
    right: 55px;
    z-index: 3;
}
.menu-card .ellipse span {
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    position: absolute;
    z-index: 5;
    bottom: 248px;
    right: 84px;
}
.menu-card h4 {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}
.menu-card p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.menu-card button {
    border-radius: 6px;
    width: 160px;
    height: 47px;
    padding: 5px;
    background: #FF7400;
}

/*--------------Відгуки---------------*/

.respond {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 260px;
    width: auto;
    height: 300px;
    left: 0;
    background: #E6E5E5;
}
.respond p {
     font-weight: normal;
     font-size: 20px;
     line-height: 27px;
     text-align: center;
     color: #000000;
}
.respond h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin: 15px 0 0;
}
.respond p {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin: 0;
}

/*------------Галерея---------------*/

.galary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    left: 0;
}
.galary h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}
.galary h2 span {color: #FF7400}

.galary__photo {
    height: auto;
    width: 85%;
    position: relative;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 80px;
}

/*------------Повари---------------*/

.cooks {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.cooks h4 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    column-gap: 40px;
}
.cooks h4 span {color: #FF7400}



.bottom {
    height: 100vh;
    width: 100%;
    background: url("image/bottom.png") no-repeat center/cover;
}