body {
    display: flex;
    justify-content: center;
}
.text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fon {
    height: 1000px;
    width: 50%;
}

.tabl1 {
    display: flex;
    justify-content: space-between;
    height: 55%;
    width: 100%;
    margin-bottom: 1%;
}

.tabl11 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-right: 1%;
}

.tabl12 {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.tabl2 {
    margin-top: 1%;
    display: flex;
    height: 20%;

}

