.header {
    background: aqua;
    height: 8%;
    width: 100%;
    margin-bottom: 1%;
}

.hero {
    background: #a001ab;
    flex-grow: 2;
    margin-bottom: 2%;
}

.sidebar {
    background: green;
    flex-grow: 3;
}

.content {
    background: #ffcc00;
    flex-grow: 3;
    margin-bottom: 2%;
}

.econtent {
    background: gray;
    flex-grow: 2;
}

.relatedimg {
    background: #57c27e;
    flex-grow: 3;
    margin-right: 2%;
}

.relatedpost {
    background: pink;
    flex-grow: 1;
}

.footer {
    background: orange;
    margin-top: 1%;
}