#header {
    background: #6cd2b0;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.menu-post {
    height: 860px;
    width: 100%;
    display: flex;
}
#menu {
    background: orange;
    height: 830px;
    width: 30%;
}
.post2 {
    height: 800px;
    width: 100%;
}
.post {
    background: aqua;
    height: 400px;
    width: 60%;
    margin: 20px;
}

#footer {
    background: #57c27e;
    width: 100%;
    height: 300px;
}