body {
    display: flex;
    justify-content: center;
}
.fon {
    width: 60%;
    height: 1000px;
}

#header {
    background: #6cd2b0;
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
}
.menu-post {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}
#menu {
    background: orange;
    flex-grow: 1;
    margin-right: 2%;
}
.post2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}
.post {
    background: aqua;
    height: 49%;
    width: 100%;
}

#footer {
    background: #57c27e;
    width: 100%;
    height: 10%;
    margin-top: 2%;
}