.center {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.widgets {
    background: #57c27e;
    justify-content: center;
}

.bigw {
    display: flex;
    background: #36a15d;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.contact {
    background: #26864a;
    height: 400px;
    justify-content: center;
}