body {
    display: flex;
    justify-content: center;
}

.fon {
    background: #cec8c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 500px;
    row-gap: 20px;
    padding-top: 10px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 240px;
    block-size: border-box;
    border: 2px solid blue;
    border-radius: 40px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a3b46;
    width: 100%;
    height: 240px;
    flex-wrap: wrap;
}